h1{
    color: rgb(78, 50, 206);
    

}

.p_azul{
    color:blue;    
}

.p_rojo{
    color:red; 
}

.parrafo{
    background: inherit;
    color:inherit
}

#ultimo_parrafo{
    color:green
}

#primer_parrafo{
    background-color: black;
    color: white; 
    text-align: center;   
    width: 1200px;
    height: 120px;
    padding: 20px 20px 20px 20px;

    border:solid yellow;
    border-width: 10px 10px 10px 20px;
    border-radius: 20%;
    margin-top: 50px;
    box-sizing: border-box;
    /*padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;*/
     
}

.p_azul,.p_rojo,#ultimo_parrafo,h1{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.p_rojo i {
    background: violet;
    color:white
}

.login{
    padding:30px;
    background: yellow ;
    position: fixed;
}

a{
    padding: 30px;
    background: cyan;
    display: inline-block;
    text-decoration: black;
}

a{
    padding: 20px;
    background: rgb(26, 14, 197); 
    display: inline-block;  
    color:rgb(0, 0, 0) 
}

a:hover{
    background: rgba(32, 126, 214, 0.507);
    padding:20px ;
}


h1{
    background: initial;
}

.img_transmi{
    background: transparent;
    border-width: 30px;
    border-style: solid;
    display: inline-block;
    border-color: transparent;
    margin-top: 50px;
    margin-left: 200px;
}

.video{
    background: transparent;
    border-width: 30px;
    border-style: solid;
    display: inline-block;
    border-color: transparent;
    
    
    margin-top: 50px;
    margin-left: 50px;
}

.primera_fila{
    background-color:rgb(166, 99, 175);
    color:white;
    height: 30px;
    margin: 1%;
    font-weight: bold;
}