<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    <form action="/edit_cliente" method="post">         
        <input type="hidden" name="id" value="{{cliente['id']}}" />
        <br/>
        <label>Nombre </label>
        <input type="text" name="nombre" value="{{cliente['nombre']}}" />
        <br/>
        <label>Apellido </label>
        <input type="text" name="apellido" value="{{cliente['apellido']}}"  />
        <br/>
        <label>Direccion </label>
        <input type="text" name="direccion" value="{{cliente['direccion']}}"  />
        <br/>
        <label>Telefono </label>
        <input type="text" name="telefono" value="{{cliente['telefono']}}"  />
        <br/>
        <br/>
        <label>Estrato </label>
        <input type="number" name="estrato" value="{{cliente['estrato']}}"  />
        <br/>
        <input type="submit" value="Editar Cliente"/>
    </form>
</body>
</html>