<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Lectura</title>
</head>
<body>
    <form action="/edit_lectura" method="post">         
        <input type="hidden" name="id" value="{{lectura['id']}}" />
        <br/>
        <label>Fecha </label>
        <input type="text" name="fecha" value="{{lectura['fecha']}}" />
        <br/>
        <label>Lectura </label>
        <input type="number" name="lectura" value="{{lectura['lectura']}}"  />
        <br/>
        <label>Id_Cliente </label>
        <input type="number" name="id_cliente" value="{{lectura['id_cliente']}}"  />
        <br/>
        <input type="submit" value="Editar Lectura"/>
    </form>

    <form  method="GET" action="/">
        <td>
            <button class="edit_button">Inicio</button>
        </td>

    </form>
</body>
</html>