<!DOCTYPE html>
<html>
    <head><!--esto es un comentario en html -->
        <title>ACUEDUCTO METROPOLITANO DE BUCARAMANGA SA</title>
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
        <!-- esto es otro comentario -->
    </head>
    <body>
        <!--<style>
            h1{
                color: blue;
                background-color: blueviolet;
            }            
        </style> -->
        <h1>ADMINISTRADOR DE ACUEDUCTO METROPOLITANO DE BUCARAMANGA</h1>
        <!-- <h1 style="color: cyan; background-color:darkgreen">ESTA ES UNA PRUEBA DE CSS PARA VER QUE TODOS LOS H1 SE AFECTAN</h1> -->
        <h2>MinTic 2022</h2>
        <h3>Grupo 2 S34</h3>
        <!--{% if ip=="127.0.0.1"  %}
            <h3>Tu IP es: {{ip}}</h3>
            <h3>la variable es: {{v2}}</h3>
        {% else %}
            <h3>Variable no encontrada </h3>
        {% endif %}-->


        <!--<ul>
            {% for registro in lecturas  %}
                <li>{{registro}} </li>
            {% endfor %}
        </ul>-->

        <!--<a class="login" href="/insert_lectura">Agregar Lectura</a>-->
        <div>
        <a href="/show_add_lectura_form"><i>Agregar Lectura</i></a>
        <a href="/get_clientes"><i>Mostrar Clientes</i></a>
        <a href="/get_lecturas"><i>Mostrar Lecturas</i></a>
        <a href="/show_consultar_cliente_form"><i>Consultar Cliente</i></a>
        </div>
        <!--<p id="primer_parrafo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        <hr/> 
        <p class="p_rojo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/> <a class=parrafo href="#"> organizada de infraestructura y equipos, en un sistema que </a> cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        <hr/> 
        <p class="p_azul"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        <hr/> 
        <p class="p_rojo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p>
        
        <p id="ultimo_parrafo"><i>Se entiende por transporte masivo de pasajeros</i> el servicio que se presta a través de una combinación <br/>organizada de infraestructura y equipos, en un sistema que cubre un alto volumen de pasajeros y<br/> da respuesta a un porcentaje significativo de necesidades de movilización. </p> -->
        

        <!--<p><blockquote>“Be Hard on the issue, soft on the person”<br/>Henry cloud</blockquote> </p>
        <hr/>
        <h4 class="p_azul">Ejemplos de sistemas de transporte masivos: </h4>
        <ol>
            <li>Transmilenio</li>
            <ol>
                <li>B13</li>
                <li>B14</li>
                <li>B16</li>
                <li>B18</li>
            </ol>
            <li>Metrolinea</li>
            <li>Mio</li>
            <li>Transcaribe</li>
        </ol>
        <h4>Ejemplos de sistemas de transporte masivos: </h4>
        <ul>
            <li>Transmilenio</li>
                <ul>
                    <li>B13</li>
                    <li>B14</li>
                    <li>B16</li>
                    <li>B18</li>
                </ul>
            <li>Metrolinea</li>
                <ul>
                    <li>T1</li>
                    <li>T2</li>
                    <li>T3</li>
                </ul>
            <li>Mio</li>
                <ul>
                    <li>A1</li>
                    <li>A2 </li>
                </ul>
            <li>Transcaribe</li>
                <ul>
                    <li>B1</li>
                    <li>B2</li>
                </ul>
        </ul>
        <hr/> -->
        <iframe class="video" src="https://www.youtube.com/embed/EtI0_m5SZlU"  width="504" height="378"></iframe>
        <img class="img_transmi"  src="../static/img/amb.jpg" width="504" height="378" title="img transmi"/> 
        
        <hr/>
        <table border="1">
            <tr>
                <td class="primera_fila">Nombre</td>
                <td class="primera_fila">Apellido</td>
                
            </tr>
            <tr>
                <td>Leidy</td>
                <td>León</td>
                
            </tr>
            <tr>
                <td>Antonio</td>
                <td>Camargo</td>
                
            </tr>
            <tr>
                <td>Juan</td>
                <td>Acevedo</td>
                
            </tr>
            <tr>
                <td>Julian</td>
                <td>Cuesta</td>
                
            </tr>
            <tr>
                <td>Yeimer</td>
                <td>Jaramillo</td>
                
            </tr>
            <tr>
                <td>Eduardo</td>
                <td>Mogollón</td>
                
            </tr>
        </table>
    
    </body>
</html>
