<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='mostrar_clientes.css')}}">
    <title>| Mostrar clientes |</title>
</head>
<body>
    <h1>Listado de clientes</h1>
    <form  method="GET" action="/">
        <td>
            <button class="edit_button">Inicio</button>
        </td>

    </form>

    <div class="divTabla">
        <table id="miTabla">
            <tr class="primera_fila"><td>ID</td><td>NOMBRE</td><td>APELLIDO</td><td>DIRECCION</td><td>TELEFONO</td><td>ESTRATO</td></tr>
            {% for registro in clientes  %}
                <tr class="content">
                    <td>{{registro["id"]}} </td>
                    <td>{{registro["nombre"]}}</td>
                    <td>{{registro["apellido"]}}</td>
                    <td>{{registro["direccion"]}}</td>
                    <td>{{registro["telefono"]}}</td>
                    <td>{{registro["estrato"]}}</td>
                    <form  method="post" action="/show_edit_cliente_form">
                        <td>
                            <button class="edit_button" name="id_cliente" value="{{registro['id']}}">Editar</button>
                        </td>

                    </form>

                    <form  method="post" action="/delete_cliente">
                        <td>
                            <button class="edit_button" name="id_cliente" value="{{registro['id']}}">Eliminar</button>
                        </td>

                    </form>
                </tr>
            {% endfor %}
        
        </table>
    </div>
</body>
</html>