<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='mostrar_clientes.css')}}">
    <title>| Mostrar lecturas cliente |</title>
</head>
<body>
    <h1>Listado de lecturas del cliente</h1>
    <h3>Consumo: {{consumo}} m3 </h3>
    <h3>Huella de Carbono: {{huella_carbono}} kg CO2</h3>

    <form  method="GET" action="/">
        <td>
            <button class="edit_button">Inicio</button>
        </td>

    </form>

    <div class="divTabla">
        <table id="miTabla">
            <tr class="primera_fila"><td>ID</td><td>FECHA</td><td>LECTURA</td><td>ID_CLIENTE</td></tr>
            {% for registro in lecturas  %}
                <tr class="content">
                    <td>{{registro["id"]}} </td>
                    <td>{{registro["fecha"]}}</td>
                    <td>{{registro["lectura"]}}</td>
                    <td>{{registro["id_cliente"]}}</td>
                    
                    <form  method="post" action="/show_edit_lectura_form">
                        <td>
                            <button class="edit_button" name="id_lectura" value="{{registro['id']}}">Editar</button>
                        </td>

                    </form>

                    <form  method="post" action="/delete_lectura">
                        <td>
                            <button class="edit_button" name="id_lectura" value="{{registro['id']}}">Eliminar</button>
                        </td>

                    </form>

                    

                </tr>
            {% endfor %}
            <form  method="post" action="/show_add_lectura_form">
                <td>
                    <button class="edit_button" >Agregar</button>    
                </td>

            </form>
        
        </table>
    </div>
</body>
</html>